{{ define "main" }}
{{- $terms := .Data.Terms.Alphabetical -}}
{{- $totalKey := "tag-count" -}}
{{- if eq .Data.Plural "categories" -}}{{- $totalKey = "category-count" -}}{{- end -}}
<div class="container term-cloud-page">
  <h1 class="term-cloud-page__title">{{ .Title }}</h1>
  <p class="term-cloud-page__total">{{ T $totalKey (len $terms) }}</p>
  <div class="term-cloud">
    {{- range $terms -}}
      <a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a>
    {{- end -}}
  </div>
</div>
{{ end }}
